.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background-color: #f0c14b;
  border-radius: 3px;
  padding: 0.5em;
  width: 100%;
  margin: 1em 0 0 0;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.subtotal > p {
  margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  .subtotal {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
  .subtotal p {
    margin-top: 0px;
  }
}
